/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --primary-theme-color: #9e9eff;
  --hover-theme-color: #8f8fff;
  --secondary-theme-color: #c2aff0;
  --body-color: #181818;
  --shadow-color: #9292ff;
  --text-color: #ffffff;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.fa-solid {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
